@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.otf"); }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; }
  .header .header__toolbar {
    font-weight: bold; }
    .header .header__toolbar.seller {
      background: #70b345; }
    .header .header__toolbar.buyer {
      background: #4298b5; }
  .header .header__nav-button-hide {
    display: none; }
  .header .header__nav-button {
    padding: 23px 32px;
    height: 64px;
    font-size: 18px;
    line-height: 18px;
    margin: 0 !important;
    opacity: 0.5; }
    .header .header__nav-button.not-clickable {
      cursor: auto; }
      .header .header__nav-button.not-clickable:hover {
        background-color: transparent;
        opacity: 0.5; }
    .header .header__nav-button:last-child {
      margin-right: inherit; }
    .header .header__nav-button:hover {
      background-color: rgba(255, 255, 255, 0.2);
      opacity: 1; }
    .header .header__nav-button.active {
      font-weight: bold;
      opacity: 1; }
  .header .header__user-role {
    color: white;
    margin-top: 14px; }
